body {
    margin: 0;
    padding: 0;
}
 
header {
    background-color: rgb(236, 232, 169);
    height: 75px;
    padding: 25px;
    text-align: center;
}

main {
    background-color: #932b2b;
    padding: 20px;
    height: 600px;
    justify-content: center;
}
.block {
    flex: 1;
    background-color: rgb(236, 232, 169);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
 
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
 
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
.cordolink{
    color: black;
}
.linkcor{
    color: black;
}

h2, p{
    margin-left: 10px;      
}

.outrapagina{
    color: black;
    text-align: center;
}

.textoartigo{
    text-align: center;
}

footer{
    background-color: rgb(236, 232, 169);
    height: 75px;
    text-align: center;
    padding: 0;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
    color: rgb(236, 232, 169));
}
 